#root {
  height: 100vw;

  margin-top: 100px;
}
.brand-logo {
  max-height: 100px;
  max-width: 60px;
}
.text-title {
  font-size: 13px;
}
.font-title {
  font-size: 20px;
}
.font-subtitle {
  font-size: 13.5px;
}

.nav-link-logOut {
}
.welcome-container {
  height: 250px;
}

.welcome-container-img {
  max-width: 320px;
  height: 100%;
}

.students-container {
  font-size: 12px;
}

.students-pfp {
  max-width: 500px;
  max-height: 50px;
}
.students-pfp-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.working-hrs {
  font-size: 12px;
}

.lesson-media-container {
  font-size: 12px;
}

.grade {
  font-size: medium;
}
.profile-pfp {
  max-width: 500px;
  max-height: 50px;
}

.lessons {
  border-left: solid;
  border-left-color: red;
  border-width: 6px;
  border-radius: 4px;
}

.lessons-pfp {
  max-width: 300px;
  max-height: 30px;
}

.completed-tasks-container {
}
.completed-tasks {
  font-size: 13px;
}
